<nav class="nav">
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
  <span>{{ minutes }}:{{ seconds }}</span>

  <button mat-button [matMenuTriggerFor]="menu">Themes</button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="setTheme('orange')"
      [disabled]="'orange' === activeTheme"
    >
      Orange
    </button>
    <button
      mat-menu-item
      (click)="setTheme('blue')"
      [disabled]="'blue' === activeTheme"
    >
      Blue
    </button>
  </mat-menu>
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
</nav>

<router-outlet></router-outlet>
