@use "@angular/material" as mat;

@include mat.core();

$admin-primary: (
  50: var(--color-primary-50),
  100: var(--color-primary-100),
  200: var(--color-primary-200),
  300: var(--color-primary-300),
  400: var(--color-primary-400),
  500: var(--color-primary-500),
  600: var(--color-primary-600),
  700: var(--color-primary-100),
  800: var(--color-primary-800),
  900: var(--color-primary-900),
  A100: var(--color-primary-A100),
  A200: var(--color-primary-A200),
  A400: var(--color-primary-A300),
  A700: var(--color-primary-A700),
  contrast: (
    50: var(--color-primary-contrast-50),
    100: var(--color-primary-contrast-100),
    200: var(--color-primary-contrast-200),
    300: var(--color-primary-contrast-300),
    400: var(--color-primary-contrast-400),
    500: var(--color-primary-contrast-500),
    600: var(--color-primary-contrast-600),
    700: var(--color-primary-contrast-700),
    800: var(--color-primary-contrast-800),
    900: var(--color-primary-contrast-900),
    A100: var(--color-primary-contrast-A100),
    A200: var(--color-primary-contrast-A200),
    A400: var(--color-primary-contrast-A300),
    A700: var(--color-primary-contrast-A700),
  ),
);

.material-icons {
  font-family: "Material Icons", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

$admin-frontend-primary: mat.define-palette($admin-primary);
$admin-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$admin-frontend-warn: mat.define-palette(mat.$red-palette);

$my-custom-level: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $body-1: mat.define-typography-level(14px),
  $body-2: mat.define-typography-level(14px),
  $button: mat.define-typography-level(14px),
);

$admin-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $admin-frontend-primary,
      accent: $admin-frontend-accent,
      warn: $admin-frontend-warn,
    ),
    typographie: $typography,
  )
);

@include mat.all-component-typographies($typography);
@include mat.all-component-themes($admin-frontend-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-background);
}
