:root {
  --color-primary-blue--50: #e8eaf6;
  --color-primary-blue--100: #c5cae9;
  --color-primary-blue--200: #9fa8da;
  --color-primary-blue--300: #7986cb;
  --color-primary-blue--400: #5c6bc0;
  --color-primary-blue--500: #3f51b5;
  --color-primary-blue--600: #3949ab;
  --color-primary-blue--700: #303f9f;
  --color-primary-blue--800: #283593;
  --color-primary-blue--900: #1a237e;
  --color-primary-blue--A100: #8c9eff;
  --color-primary-blue--A200: #536dfe;
  --color-primary-blue--A400: #3d5afe;
  --color-primary-blue--A700: #304ffe;
  --color-primary-blue--contrast-dark-50: #000000;
  --color-primary-blue--contrast-dark-100: #000000;
  --color-primary-blue--contrast-dark-200: #000000;
  --color-primary-blue--contrast-dark-A100: #ffffff;
  --color-primary-blue--contrast-light-300: #ffffff;
  --color-primary-blue--contrast-light-400: #ffffff;
  --color-primary-blue--contrast-light-500: #ffffff;
  --color-primary-blue--contrast-light-600: #ffffff;
  --color-primary-blue--contrast-light-700: #ffffff;
  --color-primary-blue--contrast-light-800: #ffffff;
  --color-primary-blue--contrast-light-900: #ffffff;
  --color-primary-blue--contrast-light-A100: #000000;
  --color-primary-blue--contrast-light-A200: #ffffff;
  --color-primary-blue--contrast-light-A400: #ffffff;
  --color-primary-blue--contrast-light-A700: #ffffff;
  --color-background: white;
}
