
:root {
  --color-primary-50: #fcf2e7;
  --color-primary-100: #f8dec3;
  --color-primary-200: #f3c89c;
  --color-primary-300: #eeb274;
  --color-primary-400: #eaa256;
  --color-primary-500: #e69138;
  --color-primary-600: #e38932;
  --color-primary-700: #df7e2b;
  --color-primary-800: #db7424;
  --color-primary-900: #d56217;
  --color-primary-A100: #ffffff;
  --color-primary-A200: #ffe3d4;
  --color-primary-A400: #ffc3a1;
  --color-primary-A700: #ffb287;
  --color-primary-contrast-dark-50: #000000;
  --color-primary-contrast-dark-100: #000000;
  --color-primary-contrast-dark-200: #000000;
  --color-primary-contrast-dark-A100: #ffffff;
  --color-primary-contrast-light-300: #000000;
  --color-primary-contrast-light-400: #000000;
  --color-primary-contrast-light-500: #000000;
  --color-primary-contrast-light-600: #000000;
  --color-primary-contrast-light-700: #000000;
  --color-primary-contrast-light-800: #000000;
  --color-primary-contrast-light-900: #000000;
  --color-primary-contrast-light-A100: #000000;
  --color-primary-contrast-light-A200: #000000;
  --color-primary-contrast-light-A400: #000000;
  --color-primary-contrast-light-A700: #000000;
  --color-primary-text: white;
  --color-text: white;
  --color-background: #242424;
  --color-background-text: black;
}




































