header {
    background-color: lightgray;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
