<mat-card>
  <mat-card-header>
    <mat-card-title> Posts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>Post A - 50 views</div>
    <div>Post B - 10 views</div>
    <div>Post C - 20 views</div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button color="primary" mat-raised-button>View all</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title> New Users</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>Karl Meier</div>
    <div>Claudia</div>
    <div>Irmtraud</div>
  </mat-card-content>
</mat-card>
