:host {
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    flex: 1;
    resize: none;
    overflow-y: auto;
    padding: 0;
    margin: 0.5rem;
  }
}

textarea {
}

.preview {
  background-color: white;
  height: 90vh;
  box-sizing: border-box;
  padding: 0.5rem;
}
